/* components/alert.css */
@layer components {
  .alert {
    --color-link: var(--alert-color-text);
    background-color: var(--alert-color-bg);
    border: var(--alert-border);
    border-radius: var(--alert-border-radius);
    color: var(--alert-color-text);
    display: flex;
    flex-direction: column;
    font-size: var(--alert-font-size);
    gap: var(--alert-gap);
    margin: var(--alert-margin);
    padding: var(--alert-padding);

    > * {
      margin: 0;
    }

    .alert-heading {
      align-items: center;
      color: var(--alert-color-text);
      display: flex;
      font-weight: var(--font-weight-semibold);
      gap: var(--alert-gap);
    }

    &:has(.icon:first-child):not(:has(.alert-heading)) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  /* Variants */
  .alert-danger    { --alert-color-bg: var(--color-danger-muted);    --alert-color-text: var(--color-danger-strong); }
  .alert-dark      { --alert-color-bg: var(--color-dark-muted);      --alert-color-text: var(--color-dark-strong); }
  .alert-info      { --alert-color-bg: var(--color-info-muted);      --alert-color-text: var(--color-info-strong); }
  .alert-light     { --alert-color-bg: var(--color-light-muted);     --alert-color-text: var(--color-light-strong); }
  .alert-primary   { --alert-color-bg: var(--color-primary-muted);   --alert-color-text: var(--color-primary-strong); }
  .alert-secondary { --alert-color-bg: var(--color-secondary-muted); --alert-color-text: var(--color-secondary-strong); }
  .alert-success   { --alert-color-bg: var(--color-success-muted);   --alert-color-text: var(--color-success-strong); }
  .alert-warning   { --alert-color-bg: var(--color-warning-muted);   --alert-color-text: var(--color-warning-strong); }
}