/* components/banner.css */
@layer components {
  .banner {
    background-color: var(--alert-color-bg);
    border-radius: var(--alert-border-radius);
    color: var(--alert-color-text);
    display: flex;
    flex-direction: column;
    font-size: var(--alert-font-size);
    gap: var(--alert-gap);
    padding: var(--alert-padding);
    padding-inline: 0;
    text-align: center;

    p {
      margin: 0 auto;
    }
  }

  /* Variants */
  .banner-danger    { --alert-color-bg: var(--color-danger-muted);    --alert-color-text: var(--color-danger-strong); }
  .banner-dark      { --alert-color-bg: var(--color-dark-muted);      --alert-color-text: var(--color-dark-strong); }
  .banner-info      { --alert-color-bg: var(--color-info-muted);      --alert-color-text: var(--color-info-strong); }
  .banner-light     { --alert-color-bg: var(--color-light-muted);     --alert-color-text: var(--color-light-strong); }
  .banner-primary   { --alert-color-bg: var(--color-primary-muted);   --alert-color-text: var(--color-primary-strong); }
  .banner-secondary { --alert-color-bg: var(--color-secondary-muted); --alert-color-text: var(--color-secondary-strong); }
  .banner-success   { --alert-color-bg: var(--color-success-muted);   --alert-color-text: var(--color-success-strong); }
  .banner-warning   { --alert-color-bg: var(--color-warning-muted);   --alert-color-text: var(--color-warning-strong); }
}