/* components/alert.css */
@layer components {
  .alert {
    --color-link: var(--alert-color-text);
    background-color: var(--alert-color-background);
    border: var(--alert-border-width) var(--alert-border-style) var(--alert-color-border);
    border-radius: var(--alert-border-radius);
    color: var(--alert-color-text);
    font-size: var(--alert-font-size);
    margin: var(--alert-margin);
    padding-block: var(--alert-padding-block);
    padding-inline: var(--alert-padding-inline);

    &,
    .container {
      align-items: var(--alert-align);
      display: flex;
      flex-direction: var(--alert-direction, column);
      gap: var(--alert-gap);
      text-align: var(--alert-align);
    }

    .alert-heading {
      align-items: center;
      color: var(--alert-color-text);
      display: flex;
      font-weight: var(--font-weight-semibold);
      gap: var(--alert-gap);
    }

    &:has(.icon:first-child):not(:has(.alert-heading)) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}