/* components/alert.css */
@layer components {
  .alert {
    --color-link-default: var(--alert-color-text);
    align-items: var(--alert-align);
    background-color: var(--alert-color-background);
    border: var(--alert-border-width) var(--alert-border-style) var(--alert-color-border);
    border-radius: var(--alert-border-radius);
    color: var(--alert-color-text);
    display: flex;
    flex-direction: column;
    font-size: var(--alert-font-size);
    gap: var(--alert-gap);
    margin: var(--alert-margin);
    padding-block: var(--alert-padding-block);
    padding-inline: var(--alert-padding-inline);
    text-align: var(--alert-align);

    > * {
      margin: 0;
    }

    .alert-heading {
      align-items: center;
      color: var(--alert-color-text);
      display: flex;
      font-weight: var(--font-weight-semibold);
      gap: var(--alert-gap);
    }

    &:has(.icon:first-child):not(:has(.alert-heading)) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  /* Variants */
  .alert-brand {
    --alert-color-background: var(--color-brand-muted);
    --alert-color-text: var(--color-brand-strong);
  }
  .alert-danger {
    --alert-color-background: var(--color-danger-muted);
    --alert-color-text: var(--color-danger-strong);
  }
  .alert-dark {
    --alert-color-background: var(--color-dark-muted);
    --alert-color-text: var(--color-dark-strong);
  }
  .alert-info {
    --alert-color-background: var(--color-info-muted);
    --alert-color-text: var(--color-info-strong);
  }
  .alert-light {
    --alert-color-background: var(--color-light-muted);
    --alert-color-text: var(--color-light-strong);
  }
  .alert-neutral {
    --alert-color-background: var(--color-neutral-muted);
    --alert-color-text: var(--color-neutral-strong);
  }
  .alert-primary {
    --alert-color-background: var(--color-brand-muted);
    --alert-color-text: var(--color-brand-strong);
  }
  .alert-secondary {
    --alert-color-background: var(--color-neutral-muted);
    --alert-color-text: var(--color-neutral-strong);
  }
  .alert-success {
    --alert-color-background: var(--color-success-muted);
    --alert-color-text: var(--color-success-strong);
  }
  .alert-warning {
    --alert-color-background: var(--color-warning-muted);
    --alert-color-text: var(--color-warning-strong);
  }
}