/* components/banner.css */
@layer components {
  .banner {
    --alert-align: center;
    
    p {
      margin-block: 0;
    }

    /* Variants */
    &.alert-accent {
      --alert-color-background: var(--color-accent-strong);
      --alert-color-text: var(--color-accent-muted);
    }
    &.alert-brand {
      --alert-color-background: var(--color-brand-strong);
      --alert-color-text: var(--color-brand-muted);
    }
    &.alert-danger {
      --alert-color-background: var(--color-danger-strong);
      --alert-color-text: var(--color-danger-muted);
    }
    &.alert-dark {
      --alert-color-background: var(--color-dark-strong);
      --alert-color-text: var(--color-dark-muted);
    }
    &.alert-info {
      --alert-color-background: var(--color-info-strong);
      --alert-color-text: var(--color-info-muted);
    }
    &.alert-highlight {
      --alert-color-background: var(--color-highlight-muted);
      --alert-color-text: var(--color-highlight-strong);
    }
    &.alert-light {
      --alert-color-background: var(--color-light-muted);
      --alert-color-text: var(--color-light-strong);
    }
    &.alert-neutral {
      --alert-color-background: var(--color-neutral-strong);
      --alert-color-text: var(--color-neutral-muted);
    }
    &.alert-primary {
      --alert-color-background: var(--color-brand-strong);
      --alert-color-text: var(--color-brand-muted);
    }
    &.alert-secondary {
      --alert-color-background: var(--color-neutral-strong);
      --alert-color-text: var(--color-neutral-muted);
    }
    &.alert-success {
      --alert-color-background: var(--color-success-strong);
      --alert-color-text: var(--color-success-muted);
    }
    &.alert-warning {
      --alert-color-background: var(--color-warning-strong);
      --alert-color-text: var(--color-warning-muted);
    }
  }

}