/* components/banner.css */
@layer components {
  .banner {
    --color-link: var(--alert-color-text);
    background-color: var(--alert-color-background);
    border-radius: var(--alert-border-radius);
    color: var(--alert-color-text);
    display: flex;
    flex-direction: column;
    font-size: var(--alert-font-size);
    gap: var(--alert-gap);
    padding: var(--alert-padding);
    padding-inline: 0;
    text-align: center;

    p {
      margin: 0 auto;
    }
  }

  /* Variants */
  .banner-danger {
    --alert-color-background: var(--color-danger-muted);
    --alert-color-text: var(--color-danger-strong);
  }
  .banner-dark {
    --alert-color-background: var(--color-dark-muted);
    --alert-color-text: var(--color-dark-strong);
  }
  .banner-info {
    --alert-color-background: var(--color-info-muted);
    --alert-color-text: var(--color-info-strong);
  }
  .banner-light {
    --alert-color-background: var(--color-light-muted);
    --alert-color-text: var(--color-light-strong);
  }
  .banner-primary {
    --alert-color-background: var(--color-primary-muted);
    --alert-color-text: var(--color-primary-strong);
  }
  .banner-secondary {
    --alert-color-background: var(--color-secondary-muted);
    --alert-color-text: var(--color-secondary-strong);
  }
  .banner-success {
    --alert-color-background: var(--color-success-muted);
    --alert-color-text: var(--color-success-strong);
  }
  .banner-warning {
    --alert-color-background: var(--color-warning-muted);
    --alert-color-text: var(--color-warning-strong);
  }
}