/* components/items.css */
/*
 * .items — responsive grid.
 *
 * Structure:
 *   .items
 *     .item
 */
@layer components {
  .items {
    column-gap: var(--items-column-gap, var(--items-gap));
    container-type: inline-size;
    container-name: items;
    display: grid;
    grid-template-columns: repeat(var(--items-cols, auto-fill), minmax(min(var(--items-min-width, 30ch), 100%), 1fr));
    justify-content: start;
    row-gap: var(--items-row-gap, var(--items-gap));
  }
}
