/* components/nav-title.css */
/*
 * .nav-title — navigation title.
 */
@layer components {
  .nav-title {
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
    margin: 0;
    padding-block: var(--nav-padding-block);
    padding-inline: var(--nav-padding-inline);
  }
}
